
.select {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  appearance: none;
  -webkit-appearance: none;
  cursor:pointer;
  background-color:transparent;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: inherit;
  border: none;
  margin: 0;
  padding: 0;
  padding: 5px 0;
  border-bottom: 2px solid black;
  text-indent: 0.01px;
  text-overflow: '';
  width: 150px;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.selectContainer{
  font-size: 20px;
  width: 150px;
  margin-right: 30px;
  position: relative;
}
.optionsList{
border: 1px solid black;
position: absolute;
top: 100%;
left: 0;
width: 150px;
z-index: 10;
background-color: rgb(204, 204, 204);
}
.option{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  &:hover{
    background-color:darkgray;
  }
}