.listPage{
    padding: 30px;
}
.formContainer{
    display: flex;
    align-items:flex-end;
    margin-bottom: 60px;
    
}
.btn{
    background-color: white;
    color: black;
    font-size: 24px;
    margin-left: 50px;
    border: 3px solid black;
}
.input{
    width: 100%;
    max-width: 500px;
}