
.card{
    background-color: lightgray;
    border: 3px solid black;
    padding: 30px;
    cursor: pointer;
}
.image{
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 100%;
    margin-bottom: 50px;
}
.name{
    text-align: center;
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 25px;
}