.container{
    margin: 30px 0;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
    @media (max-width: 1200px) { 
        grid-template-columns: repeat(3,1fr);
     }
     @media (max-width: 920px) { 
        grid-template-columns: repeat(2,1fr);
     }
     @media (max-width: 560px) { 
        grid-template-columns: repeat(1,1fr);
     }
}